body {
    margin: 0;
    overflow: hidden;
    background-color: #310350;
}

#player {
    position: absolute;
    width: 130px;
    height: 70px;
    bottom: 8vh;
    transition: 0.1s;
}

#player img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.enemy { 
    position: absolute;
    width: 180px;
    height: 180px;
    animation: fall 3s linear infinite;
}

.enemy img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

@keyframes fall {
    from { top: -200px; }
    to { top: 130vh; }
}
further
body {
    margin: 0;
    overflow: hidden;
}

.startButton {
    display: flex;
    
    height: 20vh;
    width: 20vw;
    margin-top: 40vh;
    margin-left: 40vw;
    
}

.bt {
    width: 20vw;
    border-radius: 20px;
    background-color: blueviolet;
    border: 3px white solid;
}
